*~
*.swp
antigen.zsh.zwc
*.spl
*.sug
configs/vifm/.config/vifm/vifm-help.txt
configs/vifm/.config/vifm/vifminfo.json
configs/systemd/.config/systemd/user/default.target.wants/
configs/nvim/.config/nvim/plugin/
