*~
*.swp
antigen.zsh.zwc
*.spl
*.sug
configs/vifm/.config/vifm/vifm-help.txt
configs/vifm/.config/vifm/vifminfo.json
configs/systemd/.config/systemd/user/default.target.wants/
configs/nvim/.config/nvim/plugin/
configs/alacritty/.config/alacritty/alacritty_colors.toml
configs/nvim/.config/nvim/nvim_colorscheme.txt
configs/nvim/.config/nvim/nvim_background.txt
configs/nvim/.config/nvim/lazy-lock.json
.DS_Store
