*~
*.swp
antigen.zsh.zwc
nvim/.config/nvim/autoload/
nvim/.config/nvim/plugged/
*.spl
vifm/.config/vifm/scripts/
vifm/.config/vifm/vifm-help.txt
vifm/.config/vifm/vifminfo.json
systemd/.config/systemd/user/default.target.wants/
