snippet test "test case"
    #[test]
    fn $1() {
    }
snippet tmod "test module"
    #[cfg(test)]
    mod tests {
    use super::*;

        #[test]
        fn $1() {
            $2
        }
    }
snippet struct "struct"
    $1 struct $2 {
        $3: $4
    }
