[user]
	name = Pablo Arias
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[diff]
	tool = vimdiff
	colorMoved = default
	algorithm = histogram
[difftool]
	prompt = true
[difftool "vimdiff"]
	path = nvim
[merge]
	tool = meld
	; conflictstyle = diff3
[mergetool]
	prompt = true
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	hunk-header-style = omit
	file-modified-label = ""
	file-decoration-style = "ul ol blue"
	hyperlinks = true
[delta "side-by-side"]
	side-by-side = true
	line-numbers = true
[rebase]
	autosquash = true
[rerere]
	enabled = true
[color]
	ui = auto
