snippet [ "square brackets" i
[$1]
endsnippet

snippet ( "brackets" i
($1)
endsnippet

snippet < "angle brackets" i
<$1>
endsnippet

snippet { "corchete" i
{$1}
endsnippet

snippet " "double quotes" i
"$1"
endsnippet

snippet ' "single quotes" i
'$1'
endsnippet
