snippet case "Gtest Test Case" b
TEST($1, $2)
{
    $3
}
endsnippet

snippet fcase "Gtest Test Fixture" b
TEST_F($1, $2)
{
    $3
}
endsnippet

snippet fixture "Gtest Fixture Class"
class $1 : public ::testing::Test
{
protected:
    $1()
    {
    }
    ~$1()
    {
    }
    void SetUp() override
    {
    }
    void TearDown() override
    {
    }
};
endsnippet
