snippet i "italics"
*${1:${VISUAL}}*$0
endsnippet

snippet b "bold"
**${1:${VISUAL}}**$0
endsnippet

snippet bi "bold italics"
***${1:${VISUAL}}***$0
endsnippet

snippet link "Link to something"
[${1:${VISUAL:Text}}]($2)
endsnippet

snippet c "Inline Code" i
\`$1\`
endsnippet

snippet cb "Codeblock" b
\`\`\`$1
$2
\`\`\`
endsnippet

snippet fnt "Footnote"
[^${1:${VISUAL:Footnote}}]$0

[^$1]:${2:Text}
endsnippet
