snippet * "italics"
*${1:${VISUAL}}*$0
endsnippet

snippet ** "bold"
**${1:${VISUAL}}**$0
endsnippet

snippet *** "bold italics"
***${1:${VISUAL}}***$0
endsnippet

snippet link "Link to something"
[${1:${VISUAL:Text}}]($2)
endsnippet

snippet i "Inline Code" i
\`$1\`
endsnippet

snippet cb "Codeblock" b
\`\`\`$1
$1
\`\`\`
endsnippet

snippet fnt "Footnote"
[^${1:${VISUAL:Footnote}}]$0

[^$1]:${2:Text}
endsnippet
