snippet p "print"
    print($1)
snippet fa "anonymous function"
    function($1) $0 end
snippet fn "named function"
    function $1($2)
        $3
    end
snippet fm "function in module"
    function $1.$2($3)
        $0
    end
snippet mod "module"
    local M = {}
        $0
    return M
snippet rp "return plain"
    return
snippet re "return"
    return $1
snippet de "debug"
    debug.debug()
